extends layouts/layout

block content
  .d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand.sticky-top.bg-body-tertiary
      .container-fluid
        a.navbar-brand.p-3(href='/feed')
            span.fs-5.d-none.d-sm-inline ConnectHub
            span.fs-5.d-sm-none CH
    .container-fluid.d-flex.flex-fill
      .row.flex-fill
        .col-auto.col-md-3.col-xl-2.px-0.bg-body-tertiary.py-3
          .px-3.sticky-top.z-0(style={top: "94px"})
            nav.nav.nav-pills.flex-column.w-100
              a.nav-link.d-flex.align-items-center.text-black.w-100.px-3.mb-1(href='/home')
                i.fs-4.bi-house.me-sm-1
                span.ms-1.d-none.d-md-inline Home
              a.nav-link.active.d-flex.align-items-center.text-white.w-100.px-3.mb-1(href='/chats')
                i.fs-4.bi-chat.me-sm-1
                span.ms-1.d-none.d-md-inline Messages
              a.nav-link.d-flex.align-items-center.text-black.w-100.px-3.mb-1(href='/settings')
                i.fs-4.bi-gear.me-sm-1
                span.ms-1.d-none.d-md-inline Settings
              a.nav-link.d-flex.align-items-center.text-black.w-100.px-3.mb-1(href='/user/3')
                i.fs-4.bi-person.me-sm-1
                span.ms-1.d-none.d-md-inline Profile
              a.nav-link.d-flex.align-items-center.text-black.w-100.px-3.mb-1(href='/contact')
                i.fs-4.bi-question-circle.me-sm-1
                span.ms-1.d-none.d-md-inline Contact Us
              a.nav-link.d-flex.align-items-center.text-black.w-100.px-3.mb-1(href='')
                i.fs-4.bi-pencil-square.me-sm-1
                span.ms-1.d-none.d-md-inline Admin panel
        .col.d-flex.flex-column.flex-lg-row.p-0(style={width: "1px", height: "calc(100vh - 78px)"})
          nav#chats.nav.nav-pills.flex-lg-column.px-lg-3.overflow-auto.flex-nowrap.border-end.border-bottom
            a.nav-link.active.d-flex.align-items-center.text-white.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend
            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend
            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend

            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend

            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend
            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend
            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend
            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend
            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend
            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend
            a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
              img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
              span.ms-2.d-none.d-lg-inline.fs-5 My friend
          .d-flex.flex-column.flex-fill.h-100.p-3
            .flex-fill
              .py-3
                span.p-3.bg-body-tertiary Msg 1
              .py-3
                span.p-3.bg-body-tertiary Msg 2
              .py-3
                span.p-3.bg-body-tertiary Msg 3
              .py-3.text-white.text-end
                span.p-3.bg-primary Msg 1
              .py-3.text-white.text-end
                span.p-3.bg-primary Msg 2
              .py-3.text-white.text-end
                span.p-3.bg-primary Msg 3
            form(method="post").row.justify-content-center.align-items-center.px-3
              .col-auto.d-none.d-md-inline 
                img#userAvatar.rounded-circle(src='/avatars/default_user_avatar.jpeg' width="40px")
              .col
                input.form-control(type='text', placeholder='Type a message')
              .col-auto.d-none.d-md-inline
                label(for="inputFile" style={cursor: "pointer"})
                    i.fs-5.bi-file-earmark-image
                input#inputFile.form-control(type='file' hidden)
              .col-auto.d-none.d-md-inline
                button(type="button").btn.p-0
                  i.fs-5.bi-emoji-smile
              .col-auto
                button.btn.p-0
                  i.fs-5.bi-send