extends layouts/main-page-layout

block content
  .col.d-flex.flex-column.flex-lg-row.p-0(style={width: "1px", height: "calc(100vh - 78px)"})
    nav#chats.nav.nav-pills.flex-lg-column.px-lg-3.overflow-auto.flex-nowrap.border-end.border-bottom
      a.nav-link.active.d-flex.align-items-center.text-white.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend
      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend
      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend

      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend

      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend
      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend
      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend
      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend
      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend
      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend
      a.nav-link.d-flex.align-items-center.text-black.p-3.mb-1(href='#')
        img(src="../avatars//default_user_avatar.jpeg" width="40px").rounded-circle  
        span.ms-2.d-none.d-lg-inline.fs-5 My friend
    .d-flex.flex-column.flex-fill.h-100.p-3
      .flex-fill
        .py-3
          span.p-3.bg-body-tertiary Msg 1
        .py-3
          span.p-3.bg-body-tertiary Msg 2
        .py-3
          span.p-3.bg-body-tertiary Msg 3
        .py-3.text-white.text-end
          span.p-3.bg-primary Msg 1
        .py-3.text-white.text-end
          span.p-3.bg-primary Msg 2
        .py-3.text-white.text-end
          span.p-3.bg-primary Msg 3
      form(method="post").row.justify-content-center.align-items-center.px-3
  script(src="/scripts/chats.js" type="module")