extends layouts/layout

block content
    .container.vh-100
        .row.h-100.justify-content-center.align-items-center.text-center
            .col-lg-8.col-xl-6
                .h1.fw-bold.mb-3.mb-lg-5 Log in to your account
                form(method="post").my-3
                    .form-floating.mb-3.mb-md-4
                        input#inputEmail.form-control(type='email', placeholder='name@example.com')
                        label(for='inputEmail') Email address
                    .form-floating.mb-3.mb-md-4
                        input#inputNickname.form-control(type='text', placeholder='nickname')
                        label(for='inputNickname') Nickname
                    .form-floating.mb-3.mb-md-0
                        input#inputPassword.form-control(type='password', placeholder='Create a password')
                        label(for='inputPassword') Password
                    .mt-4.mb-2.d-block.text-center 
                        .col-12
                            button.btn.btn-primary.btn-block.w-100.fs-5.py-2 Log In
                    .small.text-center
                        p Don't have an account? 
                            a(href="") Sign Up