extends layouts/layout

block content
  nav.navbar.navbar-expand.sticky-top.bg-body-tertiary
    .container-fluid
      a.navbar-brand(href='/feed') ConnectHub
      .navbar-nav.flex-row
        a.nav-link(href='#') 
          button.btn.btn-primary.btn-block.py-2 Log In
        a.nav-link(href='#') 
          button.btn.btn-primary.btn-block.bg-transparent.text-body.py-2 Sign Up
    