extends layouts/main-page-layout

block content
  .col.p-3
    .col-lg-8.offset-lg-2.col-xxl-6.offset-xxl-3
      form.d-flex.flex-column.justify-content-center.mb-3(method="put" style="min-height: calc(100vh - 94px)")
        .row.justify-content-center.mb-3.mb-md-4.text-center 
          .col-4
            .mb-3.mb-md-4
              img#imageAvatar.w-100.rounded-circle(src='/avatars/default_user_avatar.jpeg')
          .w-100
          .col-4
            label.text-muted(for="inputAvatar" style={cursor: "pointer"}) Choose an avatar
            input#inputAvatar.form-control(type='file' onchange="imageAvatar.src = window.URL.createObjectURL(this.files[0])" hidden)
        .mb-3.mb-md-4
          label.form-label(for='inputFirstName') First name
          input#inputFirstName.form-control(type='text')
        .mb-3.mb-md-4
          label.form-label(for='inputSecondName') Second name
          input#inputSecondName.form-control(type='text')
        .mb-3.mb-md-4
          label.form-label(for='inputNickname') Nickname
          input#inputNickname.form-control(type='text')
        .mb-3.mb-md-4
          label.form-label(for='inputEmail') Email
          input#inputEmail.form-control(type='email')
        .mt-4.mb-2.d-block.text-center 
          .col-12
            button.btn.btn-primary.btn-block.w-100.fs-5.py-2 Save
      h3 Danger zone
      form(method="delete").border.border-3.border-danger.p-3
        .row.align-items-center
          .col-12.col-sm.mb-2.mb-sm-0
            .lead Delete your account 
            .muted Once you delete an account, there is no going back. Please be certain.
          .col-auto
            button.btn.btn-danger Delete the account

  script(src="/scripts/settings.js" type="module")