extends layouts/layout

block content
    .container.vh-100
        .row.h-100.justify-content-center.align-items-center.text-center
            .col-lg-8.col-xl-6.my-3
                h1.fw-bold.mb-5 Create a new account
                form(method="post")
                    .row.justify-content-center.mb-3.mb-md-4
                        .col-4
                            .mb-3.mb-md-4
                                img#imageAvatar.w-100.rounded-circle(src='/avatars/default_user_avatar.jpeg')
                        .w-100
                        .col-4
                            label.text-muted(for="inputAvatar" style={cursor: "pointer"}) Choose an avatar
                            input#inputAvatar.form-control(type='file' onchange="imageAvatar.src = window.URL.createObjectURL(this.files[0])" hidden)
                    .row.mb-3.mb-md-4
                        .col-md-6
                            .form-floating.mb-3.mb-md-0
                                input#inputFirstName.form-control(type='text', placeholder='Enter your first name')
                                label(for='inputFirstName') First name
                        .col-md-6
                            .form-floating
                                input#inputSecondName.form-control(type='text', placeholder='Enter your second name')
                                label(for='inputSecondName') Second name
                    .form-floating.mb-3.mb-md-4
                        input#inputNickname.form-control(type='text', placeholder='nickname')
                        label(for='inputNickname') Nickname
                    .form-floating.mb-3.mb-md-4
                        input#inputEmail.form-control(type='email', placeholder='name@example.com')
                        label(for='inputEmail') Email address
                    .row
                        .col-md-6
                            .form-floating.mb-3.mb-md-0
                                input#inputPassword.form-control(type='password', placeholder='Create a password')
                                label(for='inputPassword') Password
                        .col-md-6
                            .form-floating.mb-3.mb-md-0
                                input#inputPasswordConfirm.form-control(type='password', placeholder='Confirm password')
                                label(for='inputPasswordConfirm') Confirm Password
                    .mt-4.mb-2.d-block.text-center 
                        .col-12
                            button.btn.btn-primary.btn-block.w-100.fs-5.py-2 Create an account
                    .small.text-center
                        p Have an account? 
                            a(href="/login") Login
