doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
  h1 My new form
  form(method="post" encType="multipart/form-data") 
    input(type="file" name="image")
    button Submit 