extends ../layouts/error

block content
    .container
        .row.align-items-center.min-vh-100 
            .text-center
                h1.display-1 401
                .lead Unauthorized
                p Access to this resource is denied.
                a(href='/home') Return to Home