extends ../layouts/error

block content
    .container
        .row.align-items-center.min-vh-100 
            .text-center
                h1.display-1 404
                p.lead The page you requested was not found!
                a(href='/home') Return to Home